<div class="container">
  <div class="row" style="margin: 20px;">

    <div class="col-lg-5 image">
      <img src="assets\Ilker_Hadzhalaran.jpg" height="250">
    </div>

    <div class="col-lg-6 rounded-border">
      <h1>Hi, I'm Ilker Hadzhalaran...</h1>
      <p>
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud...
        <br><br>
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud..
      </p>

        <div class="row icons-and-button">
          <a href="https://github.com/ilker-h" target="_blank"> <i class="fab fa-github fa-3x icons"></i> </a>
          <a href="https://www.linkedin.com/in/ilkerhadzhalaran/" target="_blank"> <i class="fab fa-linkedin fa-3x icons"></i> </a>
          <a href="https://vimeo.com/channels/1525169" target="_blank"> <i class="fab fa-vimeo fa-3x icons"></i> </a>
          <button mat-flat-button (click)="downloadFile()">Download Resume</button>
        </div>

    </div>

  </div>
</div>
