.image {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  min-width: 245px;
}

img {
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.rounded-border {
  background-color: #bbdefb;
  margin: 20px auto;
  padding: 38px;
  border: 2px solid #1976d2;
  border-radius: 10px;
  min-width: 245px;
}

h1 {
  font-weight: bolder;
}

p {
  font-size: larger;
}

/* Applies on mobile screens. Used because on small screens, the button must go onto the line below the icons. */
@media (max-width: 492px) {
  .hide-on-small-screens {
    display: none;
  }
}

/* Applies on screens bigger than mobile. Used because on big screens, the button must stay on the same line as the icons. */
@media (min-width: 493px) {
  .hide-on-bigger-screens {
    display: none;
  }
}

.icons {
  color: black;
  margin: 0px 10px;
  vertical-align: bottom;
}

button {
  background-color: #1976d2;
  color: white;
  margin: auto 10px;
}
