h1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin: 40px auto;
}

button {
  background-color: #1976d2;
  color: white;
  margin: auto;
}

/* This will make sure that the spacer element takes all the available remaining space between the two elements.
 From CSS example from https://material.angular.io/components/toolbar/examples */
 .spacer {
  flex: 1 1 auto;
}

li  {
  font-size: 17px;
}

.image {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 170px;
}

.job-description {
  margin: 10px auto 40px auto;
  padding: 15px;
}
