.container {
  background-color: white;
  border-radius: 30px;
  border: 2px solid #1976d2;
  margin: 90px auto -40px auto;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin: 80px auto 40px auto;
}

button {
  background-color: #1976d2;
  color: white;
  margin: auto;
  margin-top: -10px;
}

.job-title-and-date {
  width: 90%;
  margin: 25px auto 0px auto;
}

.margin-right {
  margin-right: 20px;
}

h3 {
  font-size: 20px;
}

/* This will make sure that the spacer element takes all the available remaining space between the two elements.
 From CSS example from https://material.angular.io/components/toolbar/examples */
 .spacer {
  flex: 1 1 auto;
}

hr {
  width:100%;
  margin-top: -11px;
  border-width: 1px;
  background-color:black;
}

.image-and-job-description {
  width: 90%;
  margin: 5px auto 125px auto;
}

#last-image-and-job-description {
  width: 90%;
  margin: 5px auto 60px auto;
}

.image {
  margin: auto;
  text-align: center;
}

.job-description {
  margin:  auto;
  padding: 15px 15px 0px 15px;
}

li  {
  font-size: 17px;
  padding-bottom: 10px;
}
