<div class="container">

  <div class="row">
    <h1>Experience</h1>
  </div>

  <div class="row">
    <button mat-flat-button (click)="downloadFile()">Download Resume</button>
  </div>

  <div class="row" style="width: 90%; margin: 25px auto 0px auto;">
    <h3>Job Title 1</h3>
    <div class="spacer"></div>
    <h3 class="float-right">Date Started - Date Ended</h3>
    <hr style="width:100%; margin-top: -11px;">
  </div>

  <div class="row" style="width: 90%; margin: 10px auto 0px auto;">
    <div class="col-10 col-md-4 image">
      <img src="assets\McMaster_University_Logo.png" height="150">
    </div>
    <div class="col-0 col-md-2"></div>
    <div class="col-10 col-md-6 job-description">
      <ul>
        <li>Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do</li>
        <li>eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut</li>
        <li>enim ad minim veniam, quis
          nostrud...</li>
      </ul>
    </div>
  </div>

</div>
