.container {
  margin: 30px auto -40px auto;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin: 90px auto 40px auto;
  color: white;
}

.overall-container {
  margin: 10px auto 30px auto;
}

@media (max-width: 1199px) {
  .max-width {
    max-width: 95%;
  }
  .hide-last-empty-project {
    display: none;
  }
}

@media (min-width: 1200px) {
  .max-width {
    max-width: 48%;
  }
}

.container-styling {
  background-color: #bbdefb;
  border-radius: 30px;
  border: 2px solid #1976d2;
  height: 100%;
}

.image {
  margin: auto;
  text-align: center;
  padding: 20px;
}

@media (max-width: 575px) {
  .image {
  padding-bottom: 0px
  }
  .overall-container {
    min-width: 290px;
  }
}

img {
  border-radius: 30px;
}

.description-and-button-and-icons {
  margin: auto;
  padding: 20px;
}

p {
  padding-bottom: 10px;
}

button {
  background-color: #1976d2;
  color: white;
  margin: auto 10px auto 16px;
}

@media (max-width: 575px) {
  .icon-container {
  margin: auto;
  text-align: center;
  }
}

@media (min-width: 576px) {
  .icon-container {
  margin-left: -10px;
  }
  .description-and-button-and-icons {
    min-width: 50px;
  }
}

.icons {
  color: black;
  margin: 4px 10px 0px 10px;
}
