.container {
    margin-bottom: -45px;
    padding-bottom: 15px;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin: 80px auto 20px auto;
  color: white;
}

mat-card {
  margin: 15px auto;
  background-color:#BBDEFB;
  min-width: 200px;
  max-width: 330px;
  border: 2px solid #1976d2;
}

i {
  float: left;
}
