<div class="container">

  <div class="row">
    <h1>Skills</h1>
  </div>

  <div class="row">

    <div class="col-12 col-sm-6 col-lg-3">
      <mat-card>
        <i class="fas fa-eye fa-3x"></i>
        <mat-card-header>
          <mat-card-title>Frontend</mat-card-title>
          <mat-card-subtitle>Languages/Tools</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>JavaScript <br> TypeScript</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>HTML</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>CSS <br> Bootstrap</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>Angular Framework <br> Angular Material</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <mat-card>
        <i class="fas fa-server fa-3x"></i>
        <mat-card-header>
          <mat-card-title>Backend</mat-card-title>
          <mat-card-subtitle>Languages/Tools</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>NodeJS <br> ExpressJS</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>PHP</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>JavaScript</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>C++</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <mat-card>
        <i class="fas fa-database fa-3x"></i>
        <mat-card-header>
          <mat-card-title>Database</mat-card-title>
          <mat-card-subtitle>Languages/Tools</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>MongoDB <br> Mongoose</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>MySQL</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>Firebase</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>SQLite</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
      <mat-card>
        <i class="fas fa-laptop-code fa-3x"></i>
        <mat-card-header>
          <mat-card-title>Other</mat-card-title>
          <mat-card-subtitle>Languages/Tools</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>C# <br> Unity Engine</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>Python <br> Machine Learning</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>Git <br> GitHub, Atlassian Suite</mat-list-item>
            <mat-divider [inset]="true"></mat-divider>
            <mat-list-item>Agile Development <br> Trello, Jira</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
